<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppList"
        tools:targetApi="31">

        <meta-data
            android:name="app_description_title"
            android:resource="@string/app_description_title" />
        <meta-data
            android:name="app_description_content"
            android:resource="@string/app_description_content" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyAppList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 每个别名都是一个可启用/禁用的“启动入口”，默认全部禁用 -->
        <activity-alias
            android:name=".AliasTaobao"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/taobao"
            android:label="淘宝"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasWeixin"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/weixin"
            android:label="微信"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasZhihu"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/zhihu"
            android:label="知乎"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasGaode"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/gaode"
            android:label="高德地图"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasDeepseek"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/deepseek"
            android:label="DeepSeek"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasDoubao"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/doubao"
            android:label="豆包"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasDouyin"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/douyin"
            android:label="抖音"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    
        <activity-alias
            android:name=".AliasMiaoqu"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/miaoqu"
            android:label="妙趣"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>